{{#with view}}
    <td>
      {{#if content.isDisabled}}
        <div class="table-ribbon-red">DISABLED</div>
      {{else}}
        {{#if content.isAdmin}}
          <div class="table-ribbon-green">ADMIN</div>
        {{else}}
          <div class="table-ribbon-blue">ENABLED</div>
        {{/if}}
      {{/if}}
    </td>

    <td>
      <h3>{{name}}</h3>
      <div class="aligned">
        <div align="right"><span class="black-title">ID:</span></div> <div>{{cid}}</div>
        <div align="right"><span class="black-title">ARN:</span></div> <div>{{arn}}</div>
        <div align="right"><span class="black-title">EMAIL:</span></div> <div>{{email}}</div>
        <div align="right"><span class="black-title">PATH:</span></div> <div>{{path}}</div>
        <div align="right"><span class="black-title">CREATED:</span></div> <div>{{create_date}}</div>
        <div align="right"><span class="black-title">BUCKETS:</span></div> <div>{{buckets}}</div>
      </div>
    </td>

    <td align="left">
      <div class="aligned">
        <div align="right"><span class="black-title">ACCESS KEY ID:</span></div> <div><span class="display-item gray">{{keyId}}</span></div>
        <div align="right"><span class="black-title">KEY SECRET:</span></div> <div><span class="display-item gray">{{keySecret}}</span></div>
        <div align="right"><span class="black-title">POLICIES:</span></div> <div>{{attached_policies}}</div>
        <div align="right"><span class="black-title">TAGS:</span></div> <div>{{tags}}</div>
      </div>
    </td>

    <td class="button-container white-border-left">
      {{#if content.isDisabled}}
        {{view RiakCsControl.ButtonView
                label="Enable"
                contentBinding="content"
                target="enableUser"
                class="white-border-bottom enable-disable"}}
      {{else}}
        {{view RiakCsControl.ButtonView
                label="Disable"
                contentBinding="content"
                target="disableUser"
                class="white-border-bottom enable-disable"}}
      {{/if}}

      {{view RiakCsControl.ButtonView
              label="Revoke"
              contentBinding="content"
              target="revokeCredentials"
              class="revoke"}}
    </td>
{{/with}}
